h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.profile{
    border: solid 1px black;
    border-radius: 8px;
    background-color: beige;
    width: 20%;
    margin: 10px auto;
}

.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.description{
    text-align: center;
}

.tag{
    margin: 10px 0;
    color: gray;
    font-weight: 500;
}

.location{
    color: gray;
    font-weight: 700;
    margin-bottom: 30px;
}

.stats{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    background-color: brown;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity{
    font-weight: 800;
    color: beige;
}

.label{
    margin-bottom: 5px;
    font-weight: 700;
}